<div class="reset-form mt-5">
  <h1 class="text-center mb-4">Recuperación de Contraseña</h1>
  <p class="text-center">Por favor, introduce tu dirección de correo electrónico para recuperar tu contraseña.</p>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="mb-4">
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="Correo Electrónico" formControlName="email">
        <mat-error *ngIf="resetForm.get('email')?.hasError('required')">El correo electrónico es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="text-center">
      <button class="btn btn-success">Enviar Correo Electrónico</button>
    </div>
  </form>

  <div class="card">
    <div class="card-body text-center">
      <p class="card-text">¿Ya recordaste tu contraseña? <a routerLink="/login">Iniciar Sesión</a></p>
    </div>
  </div>
</div>
