/* styles.css o tu archivo de estilos personalizado */

.new-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
}

.card {
    margin-top: 20px;
}

.card-text {
    margin-bottom: 0;
}