<div class="reset-form mt-5">
  <h1 class="text-center mb-4">Cambiar Contraseña</h1>
  <p class="text-center">Por favor, introduce tu nueva contraseña.</p>

  <form [formGroup]="newForm" (ngSubmit)="onSubmit()" class="mb-4">
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput type="password"  placeholder="Password" formControlName="password">
        <mat-error *ngIf="newForm.get('password')?.hasError('required')">The password is required</mat-error>
        <mat-error *ngIf="newForm.get('password')?.hasError('minlength')">Password must be at least 6 characters length</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        <mat-error *ngIf="newForm.get('confirmPassword')?.hasError('required')">The password is required</mat-error>
        <mat-error *ngIf="newForm.get('confirmPassword')?.hasError('minlength')">Password must be at least 6 characters length</mat-error>

      </mat-form-field>
    </div>

    <div class="text-center">
      <button class="btn btn-success">Reset Password</button>
    </div>
  </form>

  
</div>
